@import "tailwindcss";


:root {
  --background: linear-gradient(180deg, #eaf3fc 0%, #f5f8fd 100%);
  --foreground: #181c24;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Plus Jakarta Sans', 'Livvic', 'Archivo Narrow', 'Ubuntu', Arial, Helvetica, sans-serif;
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #0a1a2f 0%, #1a2332 100%);
    --foreground: #f3f6fa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition: background 0.5s, color 0.5s;
}
